.auth {
	margin: 5rem auto 3rem;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
	max-width: 40rem;
	border: 1px solid #ddd0eb;
	border-radius: 2px;
	padding: 2rem;
	/* text-align: center; */
	background-color: #f4f0fa;
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	display: block;
	color: #616161;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.control input {
	display: block;
	width: 100%;
	margin: 0 0 1rem;
	border-radius: 2px;
	padding: 0.25rem;
	border: 1px solid #ccc;
}